#protobuf==3.19.1
keras==2.11.0
matplotlib==3.6.2
numpy==1.23.5
#libgl1
opencv_python-headless
#opencv_python==4.7.0.68
pandas==1.5.2
pandasql==0.7.3
Pillow==9.4.0
plotly==5.11.0
#scikit_learn==1.2.0
scikit-learn==0.23.2
seaborn==0.12.2
#protobuf==3.19.1
streamlit==1.16.0
tabgan==1.2.1

tensorflow==2.11.0
#tensorflow_intel==2.11.0
xgboost==1.7.2
numpy==1.23 
#scikit_learn==1.2.0
#protobuf==3.19.1
#protobuf==3.20.1
